/* PC */
@media screen and (min-width: 991.98px) {
  .mobile-header {
    display: none;
  }

  li.show-on-mobile {
    display: none;
  }
}

/* Tablet & mobile */
@media screen and (max-width: 992px) {
  .navbar ul {
    display: none;
  }

  .navbar {
    position: relative;
  }

  .navbar .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .toggle-menu svg {
    width: 24px;
    color: #666;
  }

  .menu-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease opacity, 0.5s ease visibility;
  }

  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background-color: #fff;
    padding: 60px;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s ease transform;
  }

  .menu-drawer ul {
    margin-top: 32px;
  }

  .menu-drawer ul a {
    color: #333;
    display: block;
    padding: 14px 0;
    font-weight: 500;
  }

  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  .separate {
    border-top: 1.5px solid #ebebeb;
  }

  .hero-img {
    display: none;
  }

  .hero-wrap .info {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  .hero-wrap .desc {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .clients .images {
    justify-content: center;
    flex-wrap: wrap;
  }

  .featured .list {
    grid-template-columns: 1fr 1fr;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
  li.show-on-mobile {
    display: none;
  }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
  .menu-drawer {
    inset: 0 25% 0 0;
    padding: 40px;
  }

  .navbar .actions {
    display: none;
  }
}
