/* PC */
@media screen and (min-width: 991.98px) {
  .mobile-header {
    display: none;
  }

  .show-on-mobile {
    display: none;
  }
}

/* Tablet & mobile */
@media screen and (max-width: 992px) {
  .navbar ul {
    display: none;
  }

  .navbar {
    position: relative;
  }

  .navbar .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .toggle-menu svg {
    width: 24px;
    color: #666;
  }

  .menu-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease opacity, 0.5s ease visibility;
  }

  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background-color: #fff;
    padding: 60px;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s ease transform;
  }

  .menu-drawer ul {
    margin-top: 32px;
  }

  .menu-drawer ul a {
    color: #333;
    display: block;
    padding: 14px 0;
    font-weight: 500;
  }

  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  .separate {
    border-top: 1.5px solid #ebebeb;
  }

  .hero-img {
    display: none;
  }

  .hero-wrap .info {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  .hero-wrap .desc {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .clients .images {
    justify-content: center;
    flex-wrap: wrap;
  }

  .featured .list {
    grid-template-columns: 1fr 1fr;
  }

  .stats .row {
    flex-direction: column;
  }

  .stats .img-block {
    order: 2;
  }

  .stats .info {
    padding: 0 0 79px 0;
    order: 1;
  }

  .stats .img-block,
  .stats .info {
    width: 100%;
  }

  .stats .sub-title {
    width: 70%;
  }

  .stats .info .desc {
    width: 100%;
  }

  .stats .row-qty {
    flex-direction: row;
  }

  .stats .qty {
    font-size: 5rem;
  }

  .stats .qty-desc {
    font-size: 1.5rem;
  }

  .subscription .image {
    display: none;
  }

  .subscription .info {
    text-align: center;
    width: 100%;
  }

  .footer .row-top {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
    column-gap: 100px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .show-on-mobile {
    display: none;
  }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
  .menu-drawer {
    inset: 0 25% 0 0;
    padding: 40px;
  }

  .hide-on-mobile {
    display: none !important;
  }

  .navbar .actions {
    display: none;
  }

  .hero-wrap {
    height: calc(100vh - 77px);
  }

  .hero-wrap .title {
    font-size: 4.5rem;
    margin-top: 20px;
  }

  .hero-wrap .desc {
    width: 100%;
  }

  .clients .images {
    row-gap: 20px;
  }

  .list-guide {
    flex-wrap: wrap;
    gap: 60px;
  }

  .featured .list {
    grid-template-columns: 1fr;
  }

  .featured .sub-title {
    width: 100%;
    line-height: 1.2;
  }

  .view-all.show-on-mobile .link {
    justify-content: flex-start;
    margin-top: 30px;
  }

  .stats .sub-title {
    width: 100%;
  }

  .stats .img-block .image {
    width: 100%;
  }

  .stats .row-qty {
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px 20px;
  }

  .qty-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  .subscription .info {
    padding: 0;
  }

  .footer .row-bottom {
    flex-direction: column;
  }
}
