* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    border-radius: 8px;
    padding: 18px 16px;
    background: var(--primary-color);
    font-weight: 500;
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
}

/*================ Header =================*/
.header {
    background: #e6f0ff;
    height: 100vh;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
    padding-bottom: 18px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul a {
    position: relative;
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
    transition: 0.3s;
}

.navbar ul a::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 30%;
    height: 3px;
    right: 14px;
    bottom: 3px;
    border-radius: 3px;
    background: var(--primary-color);
    opacity: 0;
    transition: 0.3s;
}

.navbar ul a:hover::after {
    opacity: 1;
}

.navbar ul a:hover {
    color: var(--primary-color);
}

.navbar .actions {
    margin-left: auto;
}

.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.navbar .action-btn {
    padding: 12px 16px;
    margin-left: 18px;
    border: 1px solid transparent;
    transition: 0.3s;
}

.navbar .action-btn:hover {
    background: #ffffff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.hero {
    margin-top: 112px;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
}

.hero .title {
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.19;
    margin-top: 8px;
}

.hero .desc {
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7;
    margin-top: 30px;
}

.hero .hero-cta {
    min-width: 170px;
    margin-top: 40px;
    font-size: 1.3rem;
    padding-top: 18.5px;
    padding-bottom: 18.5px;
    transition: 0.5s;
    border-radius: 12px;
}

.hero .hero-cta:hover {
    opacity: 0.8;
}

.hero .hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/*================= Clients ===================*/
.clients {
    margin-top: 122px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients .desc {
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .images {
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients .images a {
    display: flex;
    align-items: center;
    border-radius: 12px;
    height: 90px;
    padding: 0 41px;
}

.clients .images a:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

/* ============= Guides ==================== */

.guides {
    margin-top: 174px;
}

.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}

.guides .sub-title::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.guides .desc {
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    margin-top: 20px;
    max-width: 100%;
    width: 459px;
    margin: 20px auto 0;
}

.list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 0 140px;
}

.list-guide li {
    text-align: center;
}

.guide-item .title {
    color: #3b3c45;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 26px;
}

.guide-item .link {
    display: flex;
    gap: 0 8px;
    align-items: center;
    justify-content: center;
}

.guide-item .link span {
    display: inline-block;
    color: #0689ff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
}

.guide-item .link img {
    display: inline-block;
    margin-top: 10px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;
    border-radius: 12px;
}
